$g-bg-color:#1f1f21;
$g-bg-white-color:rgba(255, 255, 255, 1);
$g-fm-OpenSans-Light:OpenSans-Light;
$g-fm-OpenSans : OpenSans;
$g-fm-PingFangSC-Regular:PingFangSC-Regular;
$g-fm-PingFangSC-Light:PingFangSC-Light;
$g-fm-PingFangSC-Medium:PingFangSC-Medium;
$g-btn-blue:rgba(46, 208, 211, 1);
$g-common-btn-color:#ffffff;
$g-common-btn-f-color:rgba(106, 111, 123, 1);
$g-common-label-color:rgba(181, 183, 189, 1);
$g-common-bottom-line:rgba(242, 242, 242, 1);
$g-common-btn-border-line:rgba(143, 147, 156, 1);
$g-common-btn-color:rgba(255, 255, 255, 1);
$g-order-closed-circle:rgba(106, 111, 123, 1);
$g-order-closed-status:#1f1f21;
$g-share-btn-color:rgba(242, 154, 12, 1);
$g-bg-red:rgba(208, 2, 27, 1);
$g-home-footer-z-index:100;
$g-address-save-btn-bg:rgba(242, 242, 242, 1);
$g-address-save-btn-color:rgba(106, 111, 123, 1);
$g-address-save-btn-fm:$g-fm-PingFangSC-Medium;

$g-tel-color:#444a59;

$g-cmn-radio-unselect-color:rgba(255, 255, 255, 1);
$g-cmn-radio-select-color:rgba(46, 208, 211, 1);

$g-common-content-bg:rgba(242, 242, 242, 1);
$g-common-content-div-bg:rgba(255, 255, 255, 1);

$g-chsAddr-bg:rgba(242, 242, 242, 1);
$g-chsAddr-item-bg:rgba(255, 255, 255, 1);
$g-chsAddr-item-color: #1f1f21;
$g-chsAddr-item-ion-color:rgba(46, 208, 211, 1);
$g-chsAddr-item-edit-bg:rgba(218, 219, 222, 1);
$g-chsAddr-addNewAddr-btn-bg:#1f1f21;
$g-chsAddr-addNewAddr-btn-color:rgba(255, 255, 255, 1);

$g-common-note-color:rgba(143, 147, 156, 1);

$g-common-cancel_btn_bg:rgba(208, 2, 27, 1);

$g-od-status-picking-color:rgba(46, 208, 211, 1);

$g-yellow:rgba(255, 238, 0, 1);

$g_pay_color:rgba(242, 154, 12, 1);

//bar-header-nav bg-c
//$bar-stable-bg:$g-bg-color;
$bar-default-bg:$g-bg-color;
$bar-stable-text:$g-common-btn-color;
$base-background-color:#f8f8f8;

$item-default-bg:$g-bg-color;

$bar-default-border:$g-bg-color;

$bar-padding-portrait:0.5rem;

$bar-height:2.2rem;
$tabs-height:2.2rem;
$ios-statusbar-height:2.2rem;
