<ion-view view-title="书籍详情" doc-title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content class="bookDetail-content">
    <div class="book-info-panel">
      <img>
      <div class="book-info-text">
        <p class="book-name">设计心理学1</p>
        <p class="book-author">作者：(美)唐纳德·A·诺曼</p>
        <p class="book-press">中信出版社</p>
      </div>
      <div class="book-desc">
        <p>诺曼博士用诙谐的语言讲述了许多我们日常生活中常常会遇到的挫折和危险，帮我们找到了这些问题的关....键，即产品设计忽略......  了使用者在一定情境中的真实需求，甚至违背了认知学原理。诺曼博士本书中强调以使用者为中心的设计哲学，提醒消费者在挑选的物品，必须要方便好用，易于理解，希望设计师在注重设计美感的同时，不要忽略设计的一些必要因素，因为对于产品设计来说，安全好用永远是竞争的关键</p>
      </div>
    </div>
    <div class="book-author-panel">
      <p>作者简介</p>
      <p>唐纳德·A·诺曼，美国的认知心理学家、计算机工程师、工业设计家，认知科学学会的发起人之一。现......为美国西北大学计算机......  科学系和心理学教授，是尼而森-诺曼集团（Nielsen Norman Group）咨询公司的创办人之一，苹果计算机公司先进技术部副总裁。1999年，Upside杂志提名诺曼博士为世界100精英之一。2002年，诺曼获得了由人机交互专家协会（SIGCHI）授予的终身成就奖。作为一个以人为中心的设计的倡导者，诺曼最著名的书就是《设计心理学》。</p>
    </div>

  </ion-content>
  <div class="footer-button">
    <div class="favor">收藏</div>
    <div class="book-list">加入书包</div>
    <div class="order-now">立即借阅</div>
  </div>
</ion-view>
