<ion-view view-title="书包" doc-title="" hide-back-button="true" hide-nav-bar="true">
  <ion-content class="bookPackage-content">
    <div ng-if="userBooks.length" class="user-book-item" ng-repeat="ub in userBooks">
      <div class="user-book-title">
        <p>{{ub.userName || '匿名用户'}}</p>
      </div>
      <div class="book-item" ng-repeat="b in ub.bookItem" ng-click="selectBookItem(b)">
        <div class="book-img">
          <img>
        </div>
        <div class="book-info">
          <p class="book-name">{{b.bookName}}</p>
          <p class="book-author">{{b.authorName}}</p>
          <p class="book-press">{{b.bookPress}}</p>
          <p class="book-price">{{b.price}}</p>
        </div>
        <i class="select-icon" ng-if="!b.selected"></i>
        <i class="select-icon ion-ios-checkmark-empty" ng-if="b.selected"></i>
      </div>
      <div class="book-pick-info">
        <p class="book-pick-method">取书方式<span>{{ub.pickMethodDesc}}</span></p>
        <p class="book-pick-addr">取书地址<span>{{ub.pickAddress}}</span></p>
      </div>
    </div>
    <div class="when-no-books" ng-if="!userBooks.length">
      您还没有要预定的书,快去挑选吧!
    </div>
  </ion-content>
  <div class="footer-button">
    <div class="button-left" ng-click="deleteUserBook()">
      <i class="ion-trash-a"></i>
      删除
    </div>
    <div class="button-right" ng-click="goOrder()">
      去下单
    </div>
  </div>
</ion-view>
