<ion-view view-title="书籍详情" doc-title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content class="bookDetail-content">
    <div class="book-info-panel">
      <img>
      <div class="book-info-text">
        <p class="book-name">{{book.bookName}}</p>
        <p class="book-author">作者{{book.authorName}}</p>
        <p class="book-press">{{book.bookPress}}</p>
      </div>
      <div class="book-desc">
        <p>{{book.bookDesc}}</p>
      </div>
    </div>
    <div class="book-author-panel" ng-if="book.authorDesc">
      <p>作者简介</p>
      <p>唐纳德·A·诺曼，美国的认知心理学家、计算机工程师、工业设计家，认知科学学会的发起人之一。现......为美国西北大学计算机......  科学系和心理学教授，是尼而森-诺曼集团（Nielsen Norman Group）咨询公司的创办人之一，苹果计算机公司先进技术部副总裁。1999年，Upside杂志提名诺曼博士为世界100精英之一。2002年，诺曼获得了由人机交互专家协会（SIGCHI）授予的终身成就奖。作为一个以人为中心的设计的倡导者，诺曼最著名的书就是《设计心理学》。</p>
    </div>

  </ion-content>
  <div class="book-package-float-div" ng-click="goBookPackage()">
    <i></i>
  </div>
  <div class="footer-button">
    <div class="favor">收藏</div>
    <div class="book-list" ng-click="showUserBookModal()">加入书包</div>
    <div class="order-now">立即借阅</div>
  </div>
</ion-view>

<script id="show-user-book-modal" type="text/ng-template">
  <ion-modal-view class="show-user-book-modal">
    <ion-content class="show-user-book-content" scroll="false">
      <div class="book-content">
        <p>可选分享者(点击选择)</p>
        <div class="book-item" ng-repeat="item in userBooks" ng-class="{'active':item==currentSelectedUserBook}"
        ng-click="selectUserBook(item)">
          <p class="title">由{{item.userName || '个人分享者'}}分享</p>
          <ul class="book-item-ul">
            <li><span>费用</span><span>{{item.price}}书币/周</span></li>
            <li><span>取书方式</span><span>{{item.pickMethodDesc}}</span></li>
            <li style="border: none;"><span>取书地址</span><span>{{item.pickAddress}}</span></li>
          </ul>
        </div>
      </div>
    </ion-content>
    <div class="footer-button">
      <button ng-click="userBookConfirm()">确定选择</button>
    </div>
  </ion-modal-view>
</script>
