<ion-view view-title="我要植书" doc-title="我要植书" hide-back-button="true" hide-nav-bar="true">
  <ion-content class="plantBooks-content">
    <div class="logo-panel">
      <div class="logo-div">

      </div>
      <p class="logo-text">solgan：这里写一句slogan，设计一下</p>
    </div>
    <div class="donate-books" ng-click="goPlantMethods('donate')">
      <p>我要赠书</p>
      <p>将书籍赠与平台，给予书籍等价的奖励</p>
    </div>
    <div class="donate-books" ng-click="goPlantMethods('share')">
      <p>分享至Presto</p>
      <p>将书籍交至平台管理，获得一定奖励</p>
    </div>
    <div class="donate-books" ng-click="goPlantMethods('heep')">
      <p>个人分享者</p>
      <p>开放自己的书架，允许其他人借阅</p>
    </div>
  </ion-content>
</ion-view>
