<ion-view view-title="我要植书" doc-title="我要植书" hide-back-button="true" hide-nav-bar="true">
  <ion-content class="plantMethods-content">
    <div class="search-input-area">
      <input type="text" placeholder="搜索书名，作品或ISBN植书">
    </div>
    <div class="plantMethods-area">
      <div class="plantMethods-qrcode">
        <i></i>
        <span>扫码植书</span>
      </div>
      <div class="divider">
      </div>
      <div class="plantMethods-manual" ng-click="goManualPlant()">
        <i></i>
        <span>手动植书</span>
      </div>
    </div>
  </ion-content>
</ion-view>
