<ion-view view-title="赛维懒到家" hide-nav-bar="true">
  <ion-content>
    <div class="page page-current background-none" id='market'>
      <div class="content" style="background:#e55560;">
        <img src="images/share/fx_7.png" class="share-bg" style="width: 100%;">

        <div id="status_1" class="share_status">

          <div style="width: 90%; height: 2.2rem;overflow: hidden; margin: 0px auto; border-radius: 5px;">
            <input id="txt_mobile" type="tel"
                   style="border: none; font-size: 0.6rem;  height: 2.2rem; width: 100%; padding-left: 1rem;"
                   placeholder="手机号码"/>
          </div>
          <div onclick="getCoupon();"
               style="width: 90%;  font-weight: bold; height: 2.2rem;overflow: hidden; color: white;
                 margin: 1rem auto; border-radius: 5px; line-height: 2.2rem; text-align: center; font-size:0.8rem;  letter-spacing: 0.1rem; background: #f09716;">
            领取洗衣红包
          </div>
          <div style="width: 85%;  height: 6.5rem;overflow: hidden; margin: 2rem auto;">
            <img src="images/share/fx_1.png" style="height: 3.5rem;">
          </div>


        </div>
        <div id="status_2" style="display: none;">
          <div style=" width: 85% ; height:4rem; margin:0px auto;  ">
            <img id="couponImg" src="images/share/fx_8.png" style="width: 100%; height: 100%;">
          </div>
          <div style=" width: 85% ;  margin: 0px auto;
             /*background-image:url('img/hot_2a.png'); */
             background-size:100%;">
            <div id="got_1" style="color: #fff; font-size: 0.6rem; text-align: center; margin: 0.5rem;">
              <div  style="width: 85%;  margin: 0.2rem auto;">
                <img src="images/share/fx_5.png" style="width: 90%;">
              </div>

              <div id="span_mobile"></div>

            </div>
            <div id="got_2" style="width: 85%; margin: 0.5rem auto; display: none;">
              <img src="images/share/fxw_2.png" style="width: 100%;">
            </div>
            <div onclick="toOrder();"
                 style="width: 100%;  font-weight: bold; height: 2.2rem;
                     overflow: hidden; color: white; margin: 0rem auto; border-radius: 5px;
                     line-height: 2.2rem; text-align: center; font-size:0.8rem;  letter-spacing: 0.1rem; background: #f09716;">
              去下单
            </div>
            <div id="got_3" style=" font-size: 0.6rem; text-align: center; margin: 0.5rem;">
              <img src="images/share/fx_6.png" style="width: 50%;">
            </div>
            <div id="got_4" style="width: 85%;  display: none; margin: 1rem auto;">
              <img src="images/share/fxw_3.png" style="width: 100%;">
            </div>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
