<ion-tabs class="tabs-icon-left"
          ng-class="{'tabs-item-hide':!isShowTabs}">
    <ion-tab title="首页" icon-on="ion" ng-click="goHomeTab()">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="发现" icon-on="ion" ng-click="goMyOrdersTab()">
        <ion-nav-view name="tab-orders"></ion-nav-view>
    </ion-tab>
    <ion-tab title="书条" icon-on="ion" ng-click="goMarketingsTab()">
        <ion-nav-view name="tab-marketings"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" ng-click="goCardsTab()">
        <ion-nav-view name="tab-cards"></ion-nav-view>
    </ion-tab>
</ion-tabs>
